.fretboard-grid {
  width: 100%;
  display: grid;
}

.fretboard-grid .string {
  border: solid 1px black;
  display: flex;
  justify-content: space-between;
}

.fretboard-grid .string .fret {
  border: solid 1px black;
  width: 100%;
  position: relative;
  color: yellowgreen;
}

.fretboard-grid .string .fret.selected {
  background-color: yellowgreen;
}

.fretboard-grid .string .fret.open-string {
  background-color: red;
  border-right: solid 3px silver;
}

.fretboard-grid .string .marker {
  width: 20px;
  position: absolute;
  top: 100%;
  left: calc(50% - 10px);
  color: black;
}
