.fretboard-grid {
  width: 100%;
  display: grid;
  min-width: 800px;
  max-width: 1000px;
}

.fretboard-grid .string {
  display: flex;
  justify-content: space-between;
}

.fretboard-grid .string .fret {
  border-right: solid 3px silver;
  width: 100%;
  position: relative;
  background-color: brown;
  color: brown;
}

.fretboard-grid .string-line {
  position: absolute;
  width: 105%;
  top: calc(50% - 3px);
  height: 3px;
  background-color: grey;
}

.fretboard-grid .string .fret.selected {
  background-color: yellowgreen;
  color: yellowgreen;
}

.fretboard-grid .string .fret.played {
  background-color: blue;
}

.fretboard-grid .string .fret.open-string {
  border-right: solid 10px lavenderblush;
}

.fretboard-grid .string .marker {
  width: 20px;
  position: absolute;
  top: -70px;
  left: calc(50% - 10px);
  color: white;
}
