.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fretboard-container {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.controls-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.midi-controls,
.game-controls {
  padding: 10px;
}