.piano-container {
    display: flex;
    justify-content: center;
}

.piano-container .piano {
    height: 120px;
    width: 100%;
    min-width: var(--container-width);
    max-width: 1000px;
}

.white-keys .white-key.key-down, .black-keys .black-key.key-down {
    background: blue;
}